* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-image: url(../Multimedia/Imagenes/fondo\ recetas\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.navcolor {
    background-color: #782701 !important;
}

.navcolordos {
    color: #782701 !important;
}

.botonburger {
    color: #ffffff;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5px;
    padding: 3px;
}

li {
    list-style-type: none;

    font-size: 25px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #782701;
    width: 100vw;
}

footer i {
    color: #ffffff;
}

.Cards_box {
    display: flex;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.container_recetas {
    display: flex;
    flex-direction: row;
    border: 3px #782701 solid;
    border-radius: 5%;
    background-color: #7827011e;
    color: #782701;
}

.Container_contacto {
    border: 3px black solid;
}

.Main-titleB {
    border: 3px #782701 solid;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    position: relative;
    background-color: #782701;
    left: 5vw;
    margin-top: 10px;
    border-radius: 20%;
}

.contenedor_nosotros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (min-width: 900px) and (max-width: 1441px) {
    .contenedor_nosotros {
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 390px) and (max-width: 899px) {
    aside {
        background-color: #8550385e;
        color: antiquewhite;
    }
}

.aside_nosotros {
    background-color: #7827011e;
    justify-content: center;
    text-align: center;
}

.texto_nosotros {
    font-size: 20px;
    background-color: #792a05b2;
    color: antiquewhite;
    border: #782701 3px solid;
}

#logo {
    margin-top: 60px;
    height: auto;
    text-align: center;
}

#logo h1 {
    font-family: 'Pacifico', cursive;
    font-size: 58px;
}

header img {
    width: 30vw;
}

#menuBurger {
    color: #ffffff;
}

.titulo_recetas {
    display: flex;
    height: 40px;
    background-color: #782701;
    text-align: center;
    justify-content: center;
    border-radius: 5%;
    color: #ffffff;
}

.container_preparacion {
    border: #782701 solid;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #78270152;
}

.preparacion {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: flex-start;
    position: relative;
    top: 7px;
}

.ingredientes {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.container_ingredientes {
    border: #782701 solid;
    background-image: url(../Multimedia/Imagenes/mesa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 50vh;
}

#ingrediente_uno {
    display: flex;
    position: absolute;
    right: 10vw;
    top: 33vh;
}

#ingrediente_dos {
    display: flex;
    position: absolute;
    right: 35vw;
    top: 3vh;
}

#ingrediente_tres {
    display: flex;
    position: absolute;
    left: 40vw;
    bottom: 4vh;
}

#ingrediente_cuatro {
    display: flex;
    position: absolute;
    left: 10vw;
    bottom: 8vh;
}

#ingrediente_cinco {
    display: flex;
    position: absolute;
    right: 20vw;
    bottom: 20vh;
}

#ingrediente_seis {
    display: flex;
    position: absolute;
    right: 5vw;
    top: 14vh;
}

#ingrediente_siete {
    position: absolute;
    left: 7vw;
    top: 10vh;
}

#ingrediente_ocho {
    display: flex;
    position: absolute;
    left: 25vw;
    bottom: 25vh;
}

.container_especifica {
    color: #ffffff;
}

.container_especifica p {
    background-color: #78270136;
}

.preparacion_ubicacion {
    background-color: #ffe4d7;
    border: #782701 3px solid;
    display: flex;
    flex-direction: column;
    
}

.hover_a:hover {
    color: hsl(19, 98%, 24%);
    border-radius: 20%;
    z-index: 500;
}

.botonrecetas {
    background-color: #782701 !important;
}

.imgheader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10%;
    width: 95%;
}

.redesheader {
    color: #782701;
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
}

.card img {
    height: auto;
    width: auto;
    max-height: 44vh;
}

.img_especifica {
    min-width: 10px;
}

@media screen and (min-width: 720px) and (max-width: 1440px) {
    .preparacion_ubicacion {
        font-size: 30px;
    }
}

@media screen and (min-width: 390px) and (max-width: 720px) {
    .img_especifica {
        width: 350px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1440px) {
    .img_especifica {
        position: relative;
        left: 25%;
        width: 50%;
    }
}

@media screen and (min-width: 500px) and (max-width: 799px) {
    .img_especifica {
        position: relative;
        left: 17%;
    }
}

.img_especifica {
    border-radius: 20%;
}